/* VARIABLES */
:root {
    --light-bg-color: rgba(69, 123, 157, 0.1);
    --dark-bg-color: #1d3557;
    --red-accent: rgba(230, 57, 70, 0.9);
    --red: rgb(230, 57, 70);
    --slate-blue: rgba(69, 123, 157, 0.8);
}

/*  ELEMENTS */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    height: 100%;
}

body {
    font-family: 'Lato', sans-serif;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 12rem;
}

h1 {
    font-weight: 700;
    font-size: 3rem;
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: center;
    gap: 8px;
    height: 4rem;
}

select, input, button:hover{
    cursor: pointer;
}

select {
    /* reset */
    margin: 0;      
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;

    padding: 8px;
    color: white;
    font-size: 18px;
    border: none;
    border-radius: 8px;
    background-color: var(--red-accent);
    height: 3rem;
    width: 10rem;
    background-image:
    linear-gradient(45deg, transparent 50%, white 50%),
    linear-gradient(135deg, white 50%, transparent 50%);
    background-position:
        calc(100% - 20px) calc(1em + 2px),
        calc(100% - 15px) calc(1em + 2px);
    background-size:
        5px 8px,
        5px 8px;
    background-repeat: no-repeat;
}

button {
    height: 3rem;
    width: 10rem;
    font-size: 18px;
    font-weight: 500;
    padding: 8px;
    color: white;
    border: none;
    border-radius: 8px;
    background-color: var(--red-accent);
}

select,
button,
input[type='color'] {
  transition: transform 0.1s ease-in-out;
}

select:hover,
button:hover,
input[type='color']:hover {
  transform: scale(1.05);
}

input[type='color']:active {
  transition: transform 0.05s ease-in-out;
  transform: scale(1);
}

input[type='color'] {
    appearance: none;
    -webkit-appearance: none;
    background: transparent;
    width: 4rem;
    height: 4rem;
    border-radius: 100%;
}
  
input[type='color']::-webkit-color-swatch-wrapper {
    padding: 0;
}

input[type='color']::-webkit-color-swatch {
    border: none;
    border-radius: 50px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* IDs */
#grid-container {
    display: grid;
    background-color: white;
    height: 750px;
    width: 750px;
    cursor: pointer;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#sketch-area {
    background-color: white;
    height: 750px;
    width: 750px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    -moz-transition: all 1s ease-in-out;
    -webkit-transition: all 1s ease-in-out;
    -moz-transition: all 1s ease-in-out;
    -o-transition: all 1s ease-in-out;
    transition: all 1s ease-in-out;
}

#grid-slider {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: center;
    justify-content: center;
}

#page-title {
    margin-right: 24px;
}

#light-mode, #light-mode-filled, #dark-mode, #dark-mode-filled {
    cursor: pointer;
}

/*  CLASSES */
.light-mode {
    background-color: rgba(69, 123, 157, 0.1);
    color: #1d3557;
}

.dark-mode {
    background-color: rgba(29, 53, 87, 1);
    color: #fff;
}

.light-mode input[type='color'] {
    border: 2px solid var(--dark-bg-color);
}

.dark-mode input[type='color'] {
    border: 2px solid #fff;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
}

.control-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    height: 100%;
    gap: 24px;
}

.input-color-container {
    position: relative;
    overflow: hidden;
    width: 5rem;
    height: 5rem;
    border: solid 1px white;
    border-radius: 40px;
}
  
.input-color {
    position: absolute;
    right: -8px;
    top: -8px;
    width: 5.75rem;
    height: 5.75rem;
    border: none;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 14px;
    border-radius: 8px;
    background: var(--slate-blue);
    outline: none;
    opacity: 0.9;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slider:hover {
    opacity: 1;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: var(--red);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--red);
    cursor: pointer;
}

.fa-github {
    font-size: 32px;
    transition: transform 0.3s ease-in-out;
}

.fa-github.dark{
    color: var(--dark-bg-color)
}
.fa-github.light {
    color: #fff;
}

.fa-github:hover {
    transform: scale(1.2);
}

.hidden {
    display: none;
}

.two-tone > i {
    font-size: 32px;
}

.two-tone:hover .fa-regular,
.two-tone .fa-solid {
    display: none;
}

.two-tone:hover .fa-solid {
    display: inline;
}


/*  MEDIA QUERIES */
@media (max-width: 1300px) {
    #sketch-area, #grid-container {
        height: 500px;
        width: 500px;
    }
}

@media (max-width: 1010px) {
    main {
        flex-direction: column;
        gap: 2rem;
    }
    .slider {
        width: 8rem;
    }
    select {
        width: 9rem;
    } 
    button {
        width: 5rem;
    }
    input[type='color'] {
        width: 3rem;
        height: 3rem;
    }
    .control-container {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 500px;
    }
}

@media (max-width: 600px) {
    #sketch-area, #grid-container {
        height: 300px;
        width: 300px;
    }
    .control-container {
        flex-direction: column;
    }
}
